/*index*/
.Fotos{
    width: 90%;
    margin: auto;
}
p{
    font-weight: bold;
}
.Principal{
    margin-bottom: 20px;
    margin-top: 20px;
}
.IMG{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
    img{
        width:50%;
        height: 200px;
        gap: 25px;
        border-radius: 10px;
    }
}

.Titulo3{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}


